--mm:arc

# Cross-compile examples:
#   3DS:        nim c -d:ds3 --cpu:arm --os:standalone -d:configyVendor=yourorg src/configy.nim
#   PSP:        nim c -d:psp --cpu:mips --os:standalone -d:configyVendor=yourorg src/configy.nim
#   PS Vita:    nim c -d:vita --cpu:arm --os:standalone -d:configyVendor=yourorg src/configy.nim
#   WASM:       nim c -d:emscripten --os:linux -d:configyVendor=yourorg src/configy.nim
